body{
    margin:0;
}

.column{
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding:5px;
}

.column_content{
    padding: 10px;
    border: solid 1px rgb(255, 146, 146);
}