body {
    max-width: 990px;
    margin: auto;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 16px;
}

header {
    overflow: auto;
    padding: 10px;
    background-color: #eeeeee;
}

header img {
    float: left;
    width: 50px;
}

header nav a {
    float: right;
    padding: 10px 0px 0px 20px;
    color: #32bea6;
    font-weight: bold;
}

header a:hover {
    color: #e0878d;
    text-decoration: none;
}

.poster {
    width: 100%;
    height: auto;
}

main h1 {
    font-size: 300%;
    margin-top: 10px;
}

main h2 {    
    font-size: 21px;
}

.container-fluid {    
    padding: 0px 15px;
}

.general_info article {
    padding-right: 15px;
}

.extra_info{
    margin-top: 20px;
}

/* table */

table {
    border-collapse: collapse;
    border: 1px dashed black;
    width: 100%;
}

table col:first-child {
    width: 50%;
    border-right: 1px solid black;
}

table th {
    border-bottom: 3px solid black;
    background-color: white;
    text-align: center;
}

table tr:nth-child(odd) {
    background-color: #bebebe;
}

table tr:hover {
    background-color: #ce0000;
}

table td {
    text-align: right;
    padding: 5px;
}

table td:nth-child(2n) {
    text-align: left;
}

/* Versies en Ook te zien in */

ul {
    list-style-type: none;
    padding: 0px;
}

span.accent {
    font-weight: bold;
}

span.small {
    font-size: 70%;
}

/* Interesses */

.carousel {
    margin-top: 25px;
    padding: 0px 15px;
}

.carousel h2 {
    font-size: 200%;
}

.carousel .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.grid img {
    max-width: 100%;
}

.grid img:nth-last-child(1),
    img:nth-last-child(2) {
        display: none;
    }

/* footer */

footer {
    margin-top: 25px;
    padding: 5px;
    background-color: #eeeeee;
    font-size: 14px;
    overflow: hidden;
}

footer li:first-child {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

#signature {
    float: right;
    font-style: italic;
}

/* adjustsments for large screens */

@media screen and (min-width: 990px) {

    .extra_info{
        margin-top: 0px;
    }

    .container-fluid,
    .carousel {
        padding: 0px;
    }

    .carousel .grid {
        grid-template-columns: auto auto auto auto auto;
        
    }

    .grid img:nth-last-child(1),
    img:nth-last-child(2) {
        display:grid;
    }
}