/* Lettertype: Helvetica
Lettergrootte h1: 80px
Lettergrootte h2: 40px
Kleur h1 en h2 in header: #EDF2F4

Geef de 3 blokken (header, footer en education) een padding van 30px;

Rode kleur van de links: #EF233C
Grijze tekstkleur in header en footer: #8D99AE
Achtergrondkleur header en footer: #2B2D42
Achtergrondkleur education: #8D99AE

Door een margin van 10px te plaatsen op de header en footer creeëren we de witruimte tussen de 3 blokken:
Voeg een margin-bottom toe aan de header
Voeg een margin-top toe aan de footer */

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

header>h1 h2 {
    color: #EDF2F4;
}

a {
    color: #EF233C;
}

header,
footer {
    padding: 30px;
    color: #8D99AE;
    background-color: #2B2D42;
}

.education {
    padding: 30px;
    background-color: #8D99AE;
}

header{
    margin-bottom: 10px;
}

footer{
    margin-top: 10px;
}